@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
  --menu-template: 4fr 1fr;
  --menu-padding: 1em;
  --menu-background: #202426;
  --menu-color: #f2f2f2;

  --menu-items-template: repeat(5, 1fr);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

.menu {
  display: grid;
  padding: var(--menu-padding);
  grid-template-columns: var(--menu-template);
  background-color: var(--menu-background);
  color: var(--menu-color);
}

.menu__items {
  display: grid;
  grid-template-columns: var(--menu-items-template);
  column-gap: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.menu__logo {
  display: flex;
  align-items: center;
}

.menu__link {
  display: block;
  padding: var(--menu-padding);
  text-decoration: none;
  color: var(--menu-color);
}

.menu__item:hover a {
  font-weight: bold;
}
