@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
  --font-family: "Montserrat";

  --header-height: 6vh;
  --header-overlay-background-color: rgba(0, 0, 0, 0.85);
  --header-nav-background-color: #fff;
  --header-link-after-background-color: #4f735f;
  --header-bars-background-color: #4f735f;
  --header-bars-color: #fff;

  --primary-background-color: #1f2430;
  --primary-color: #fff;
}

html {
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

.preload * {
  transition: none !important;
}

.resize-animation-stopper * {
  transition: none !important;
  animation: none !important;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: var(--header-height);
  font-size: 32px;
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}

.presentation__social i {
  color: var(--primary-color);
}

.presentation__social {
  display: grid;
  column-gap: 0.5em;
  grid-template-columns: 1fr 1fr;
}

.header__overlay {
  position: fixed;
  background-color: var(--header-overlay-background-color);
  transform: scaleX(0);
  opacity: 0;
  transition: opacity 1s;
}

.header__nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  justify-content: space-evenly;
  text-transform: uppercase;
  background-color: var(--header-nav-background-color);
  overflow: hidden;
  transition: 0.5s;
}

.header__nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
  list-style: none;
}

.header__logo,
.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 0.5em;
  font-size: 1.5rem;
}

.header__link {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: top;
  transition: transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
}

.header__link::after {
  position: absolute;
  display: inherit;
  background-color: var(--header-link-after-background-color);
  content: attr(data-text);
  left: 0;
  bottom: -100%;
  width: inherit;
  height: inherit;
  align-items: inherit;
  justify-content: inherit;
  color: #fff;
  transform: rotateX(-90deg);
  transform-origin: top;
}

@media only screen and (min-width: 769px) {
  .header__link:hover {
    transform: rotateX(90deg);
  }

  .header__item:nth-child(odd) {
    animation: up 1s forwards;
  }

  .header__item:nth-child(even) {
    animation: down 1s forwards;
  }

  @keyframes up {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes down {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header__nav ul {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .header {
    position: fixed;
    width: 100%;
    height: 100%;
    perspective: 75rem;
    overflow: hidden;
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    max-width: 300px;
    height: 100%;
    line-height: initial;
    flex-direction: column;
    box-shadow: none;
    text-align: center;
    transform: rotateY(180deg);
    transform-origin: top left;
    transition: transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
  }

  .header__item:nth-child(n) {
    animation: initial;
  }

  .header.open nav {
    transform: rotateY(0);
  }

  .header__bars {
    position: fixed;
    padding: 2rem 2.5rem;
    top: 1em;
    right: 1em;
    background-color: var(--header-bars-background-color);
    z-index: 1;
    border-radius: 3px;
    cursor: pointer;
  }

  .header__bar,
  .header__bar::before,
  .header__bar::after {
    position: absolute;
    content: "";
    width: 2rem;
    height: 2px;
    background-color: var(--header-bars-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 650ms;
  }

  .header__bar::before {
    top: -2rem;
  }

  .header__bar::after {
    top: 2rem;
  }

  .open .header__overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: scaleX(1);
  }

  .open .header__bar {
    background-color: transparent;
  }

  .open .header__bar::before {
    transform: rotate(45deg);
  }

  .open .header__bar::after {
    transform: rotate(-45deg);
  }

  .open .header__bar::before,
  .open .header__bar::after {
    top: 0;
  }

  .header__overlay.open {
    opacity: 1;
    transform: scaleX(1);
  }
}
