@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
  --font-family: "Montserrat";

  --header-overlay-background-color: rgba(0, 0, 0, 0.85);

  --header-menu-background-color: #4f735f;
  --header-bar-color: #fff;

  --nav-height: 6rem;
  --nav-background-color: #fff;
  --nav-link-after-background-color: #4f735f;
  --nav-sticky-background-color: #2f3840;
  --nav-sticky-color: #fff;
}

html {
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

.preload * {
  transition: none !important;
}

.resize-animation-stopper * {
  transition: none !important;
  animation: none !important;
}

.header {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.header__overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--header-overlay-background-color);
  transform: scaleX(0);
  opacity: 0;
  transition: opacity 1s;
}

p {
  padding-top: var(--nav-height);
  font-size: 32px;
  background-color: #fff;
}

.header__menu {
  position: fixed;
  padding: 2rem 2.5rem;
  top: 1em;
  right: 1em;
  background-color: var(--header-menu-background-color);
  z-index: 1;
  border-radius: 3px;
  cursor: pointer;
  display: none;
}

.header__bar,
.header__bar::before,
.header__bar::after {
  position: absolute;
  content: "";
  width: 2rem;
  height: 2px;
  background-color: var(--header-bar-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 650ms;
}

.header__bar::before {
  top: -2rem;
}

.header__bar::after {
  top: 2rem;
}

.open .header__bar {
  background-color: transparent;
}

.open .header__bar::before {
  transform: rotate(45deg);
}

.open .header__bar::after {
  transform: rotate(-45deg);
}

.open .header__bar::before,
.open .header__bar::after {
  top: 0;
}

nav {
  display: flex;
  width: 100%;
  height: var(--nav-height);
  justify-content: space-evenly;
  text-transform: uppercase;
  background-color: var(--nav-background-color);
  overflow: hidden;
  transition: 0.5s;
}

.header__logo {
  display: flex;
  align-items: center;
}

nav.sticky {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-color: var(--nav-sticky-background-color);
}

nav.sticky .nav__link,
nav.sticky .header__logo {
  color: var(--nav-sticky-color);
}

.header__logo,
.nav__link {
  text-decoration: none;
}

.header__logo {
  font-size: 1.5rem;
  color: mediumpurple;
  padding: 0 1rem;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
  list-style: none;
}

.nav__link {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  color: mediumpurple;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: top;
  transition: transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
}

.nav__link:hover {
  transform: rotateX(90deg);
}

.nav__item:last-child .nav__link {
  margin-right: 0;
}

.nav__link::after {
  position: absolute;
  display: inherit;
  background-color: var(--header-menu-background-color);
  content: attr(data-text);
  left: 0;
  bottom: -100%;
  width: inherit;
  height: inherit;
  align-items: inherit;
  justify-content: inherit;
  color: #fff;
  transform: rotateX(-90deg);
  transform-origin: top;
}

.nav__item:nth-child(odd) {
  animation: up 1s forwards;
}

.nav__item:nth-child(even) {
  animation: down 1s forwards;
}

@keyframes up {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes down {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  nav ul {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .header__logo {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: initial;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    color: #fff;
    background-color: mediumpurple;
  }

  .header {
    perspective: 75rem;
    overflow: hidden;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    max-width: 300px;
    height: 100vh;
    line-height: initial;
    flex-direction: column;
    box-shadow: none;
    text-align: center;
    transform: rotateY(180deg);
    transform-origin: top left;
    transition: transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
  }

  .nav__item:nth-child(n) {
    animation: initial;
  }

  .nav__link {
    margin: 2rem 0;
  }

  .header.open nav {
    transform: rotateY(0);
  }

  .header__menu {
    display: block;
  }

  .header__overlay.open {
    opacity: 1;
    transform: scaleX(1);
  }

  .nav__link:hover {
    transform: none;
  }
}
/* Color Theme Swatches in Hex */
/* .Moda-1-hex { color: #010A26; }
.Moda-2-hex { color: #04ADBF; }
.Moda-3-hex { color: #04D9D9; }
.Moda-4-hex { color: #027368; }
.Moda-5-hex { color: #4F735F; } */
